@import "tailwindcss";

/* ---------- Tokens básicos ---------- */
:root {
	--background: #ffffff;
	--foreground: #171717;

	--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ---------- Base ---------- */
html, body {
	@apply font-sans antialiased text-gray-900 bg-gray-50;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* página estática: sem rolagem horizontal no documento */
	overflow-x: clip;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}
