version: "3.9"

services:
	postgres:
		image: postgres:16
		container_name: awsregistro_postgres
		environment:
			POSTGRES_USER: aws
			POSTGRES_PASSWORD: aws123
			POSTGRES_DB: awsregistro
		ports:
			- "5432:5432"
		volumes:
			- ./data:/var/lib/postgresql/data
		restart: unless-stopped

	pgadmin:
		image: dpage/pgadmin4:8
		container_name: awsregistro_pgadmin
		environment:
			PGADMIN_DEFAULT_EMAIL: admin@local
			PGADMIN_DEFAULT_PASSWORD: admin
		ports:
			- "5050:80"
		depends_on:
			- postgres
		restart: unless-stopped
